body{
    background: hsl(218, 27%, 8%);
    color: #ffffff;
    background-image: url(../images/bg.JPG);
    font-family: "Roboto Mono", monospace;
    line-height: 1.4;
    padding: 32px 24px;
}

header {
    text-align: center;
    margin-bottom: 48px;
}

header h1 {
    margin-bottom: 16px;
    font-size: 48px;
}

.subtitle {
    font-size: 19px;
    color: #ffffffcc;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    border: 1.5px solid rgb(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
}

.card__header {
    font-size: 240px;
    margin-bottom: 16px;
    font-size: 21px;
}

.generator-form textarea {
    background-color: rgb(255, 255, 255, 0.05);
    color: #ffffff;
    width: 100%;
    min-height: 120px;
    border: 1px solid #474646;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 16px;
}

.generator-form textarea:focus {
    outline: none;
    border-color: #a655f7;
}

.generator-form textarea::placeholder {
    color: #a19e9e;
    opacity: 1;
}

.generator-form .btn-magic {
    width: 100%;
    padding: 16px 32px;
    background: linear-gradient(90deg, #a655f7, #ff80aa 100%);
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.generator-form .btn-magic:hover{
    transform: translateY(-2px);
}

.card--preview{
    display: none;
} 


.code-grid {
    display: flex;
    flex-direction: row;
    gap: 24px;
    }

.card--code {
    background-color: #21242a;
    border: 1px solid #ffffff33;
    padding: 24px;
    width: 50%;
}

.code-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.code-block {
    background-color: #0a0c10;
    color: #5eead4;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;

    white-space: pre-wrap;
    word-wrap: break-word;
}

